@CHARSET "UTF-8";

.propWidget-2 {
	margin: 10px;
}

.responsive {
	margin: 10px;
}

.fleamarket {
	background-color: white;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.13);
	margin-bottom: 2px;
}

.btn-modify {
	float: right;
	margin-bottom: 5px;
	margin-right: 5px;
}