<!-- **************hostmain css **************** -->


#home-title{
	 font-size: 40px;
	 font-family: FontAwesome;
	 color: white;
	 font-weight: bold;
	 padding-bottom:10px;		 
}

#home_subtitle{
	font-size: 20px;
	color: white;
	padding-bottom: 20px;
	font-weight: bold;
	margin-bottom: 5px;
}

#space > #bregister, #bmanage{
	width: 100%;
	max-width: 200px;
	height: 40px;
	margin: 5px;
	float: none;
}

#hostregister{
	margin-top: 10px;
	float: right;
}

#img{
	width:100%;
	max-width: 180px;
	height: 180px;
}


<!-- hostinput css------>

.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}
.img-circle {
    border-radius: 50%;
}

#imagePreview{
	display: block;
	width: 100%;
}

#panel{
	height: 100%;
}
