#commentsForm {
	padding-bottom: 10px;
}

#reservation {
	margin-bottom: 10px;
}

.mainFunction .contactBtn {
    margin-bottom: 10px;
    width: 100%;
}

.mainFunction .applyBtn {
    margin-bottom: 10px;
    width: 100%;
}
